---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I'm a second-year PhD Student in Information Science at Cornell University, where I am extremely fortunate to be co-advised by <a href = "https://sociology.cornell.edu/michael-macy" target = "_blank">Professor Michael Macy</a> 
    and <a href = "https://mmoorr.github.io/www_personal/" target = "_blank">Professor Mor Naaman</a>. 
    I am a member of Professor Macy's <a href = "https://sdl.as.cornell.edu/people/" target = "_blank">Social Dynamics Lab</a> 
    and Professor Naaman's <a href = "https://s.tech.cornell.edu" target = "_blank">Social Technologies Lab.</a> 
  </p>
  <p>
    My research interests lie in testing the applicability of theories and findings from the behavioral sciences to how people behave in new and uncertain online environments. 
    As two recent examples of this work, I have a paper under review at <i>Nature Human Behaviour</i> on three experiments measuring how people's judgments of the trustworthiness of Covid-19 information are 
    potentially biased by nonspecific misinformation warnings provided by Google. As an undergraduate student, I was the lead author on a paper testing the efficacy of video interventions to reduce parents' willingness to overshare about their children online, 
    which appeared in the SRCD Conference with a top 1% award in Interdisciplinary Research, and in the journal Computers in Human Behavior in 2021 
    <a href="https://www.sciencedirect.com/science/article/pii/S0747563221002624" target="_blank">(linked here)</a>.
  </p>

  <p>
  I received my B.A. in Social Psychology along with a B.A. in the Robert S. Harrison College Scholar program (also at Cornell) in 2021, with formal minors in Information Science and Communication. I was honored as a Summa cum Laude graduate, a Merrill Presidential Scholar (the top 1% of my graduating class) and a Phi Beta Kappa inductee.</b> In my graduate studies, I have been fortunate to receive exceptional mentorship from both of my coadvisors and many other professors along the way, 
    which I enjoy paying forward by mentoring other students. I aspire to become a professor after finishing my PhD. As hobbies, I enjoy outdoor running and learning new coding languages (my favorite is R).
  </p> 
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          {% if paper.award %}
          <p><i class="fa fa-trophy" style="color:#FFD133"></i> {{ paper.award }}</p>
          {% endif %}
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}
             
            {% if paper.prereg %}
              <a class="button" href="{{ paper.prereg }}" target="_blank">Preregistration</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          {% if paper.award %}
          <p><i class="fa fa-trophy" style="color:#FFD133"></i> {{ paper.award }}</p>
          {% endif %}
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}
             
            {% if paper.prereg %}
              <a class="button" href="{{ paper.prereg }}" target="_blank">Preregistration</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>CV</h4>

  <p>Click here for the most up-to-date version of my CV: <a href= "https://docs.google.com/document/d/1xuXQewC6BQQOte61ckvxdN19gpqkrfvs/edit?usp=sharing&ouid=108470808357250940697&rtpof=true&sd=true" target="_blank">Link to my CV</a></p>
</div>


<div class="docs-section" id="template">
    <h4>Acknowledgments</h4>
  Many thanks to <a href = "https://web.stanford.edu/~msaveski/" target = "_blank">Dr. Martin Saveski</a> for creating this awesome website theme, and for letting me and others use it for free. <br/>
 
  Photo credit goes to Daye Kang, one of my wonderful friends in my PhD cohort!
</div>
